# Dependencies
**/node_modules/

# Build output
**/.next/
**/out/
**/build/
**/dist/

# Environment variables
**/.env
**/.env.*

# Keep examples
!**/.env.example
!**/.env.test.example

# Tests and deployment
**/coverage/
**/.vercel/

# IDE and operating system
.idea/
.DS_Store
Thumbs.db
*.tsbuildinfo
next-env.d.ts
*.pem

# Logs
*.log
